language: java

jdk: openjdk11

script:
  - mvn package -B -Dmatsim.preferLocalDtds=true -Dmaven.test.redirectTestOutputToFile
# --fail-at-end

env:
  global:
    - MAVEN_OPTS="-Xmx2g"

cache:
  directories:
  - $HOME/.m2

